version: '3.8'

services:
  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "npm install --no-audit --no-fund --legacy-peer-deps && npm run build"
    restart: 'no'

  app:
    image: node:20-alpine
    working_dir: /app
    depends_on:
      - frontend
    environment:
      - NODE_ENV=production
      - PORT=3001
      - API_KEY=${API_KEY}
    command: sh -c "node server.js"
    ports:
      - "3001:3001"
    volumes:
      - ./:/app
      - 9box_data:/app/data
    restart: unless-stopped

volumes:
  9box_data:
    driver: local

